@import '../../styles/colors';


#wrapper{
    text-align: center;
}

#box{
    width: 70%;
    margin: 100px auto;

    #header{
        height: 200px;
        margin: 20px;
        img{
            height: 175px;
            border: 1px solid $table;
        }

        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
    }
    .field{
        margin: 10px;
        padding: 10px;
    }
}