<div id="wrapper">
    <h3>{{(country$ | async )?.name || 'Loading...'}}</h3>

    <div id="box">
        <div id="header">
            <img [src]="imageLink" [alt]="(country$ | async)?.name || '' + ' flag'">
            <h1>{{(country$ | async)?.code}}</h1>
        </div>
        <div class="field">Stolica: {{(country$ | async)?.capital || 'brak'}}</div>
        <div class="field">Waluta: {{(country$ | async)?.currency ? ((country$ | async)?.currency?.name + " (" + (country$ | async)?.currency?.code + ")") : 'brak'}}</div>
        <div class="field">Powierzchnia: {{(country$ | async)?.size}}m<sup>2</sup></div>
    </div>
</div>