@import '../../../styles/colors';

#box{
    width: 300px;
    text-align: center;
    border: 1px solid #000;
    border-radius: 10px;
    margin: 10px;
    cursor: pointer;
}

#box:hover{
    box-shadow: 0 0 1em $breaker, inset 0 0 1em $breaker;
    border: 1px solid $breaker;
    transition: all 0.5s ease;
}