<app-nav-bar></app-nav-bar>
<router-outlet></router-outlet>
<app-footer (showDialog) ="showDialog($event)"></app-footer>


<p-dialog header="O Mnie" [(visible)]="isShowDialog">
    <div id="text">
        Cechuje mnie otwartość, gotowość do nauki nowych rzeczy oraz wyzwań.
        Przykładem tego jest ciągły proces tworzenia rozwiązań i ich doskonalenia, szukania nowych projektów i angażowania się w ich realizację.
        <br>
        <span id="right">Piotr Kociński</span>
    </div>
</p-dialog>