@import '../../styles/colors';

#regions{
    width: 70%;
    margin: 10% auto;

    border: 1px solid $table;
    border-radius: 10px;
    padding: 17px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
}

h2{
    text-align: center;
}