<div id="wrapper">
    <h2>Wybierz region</h2>
    <div id="regions">
        <app-region *ngFor="let region of regions$ | async" [name]="region.name" [link]="region.link"></app-region>
    </div>
</div>