img{
    height: 70px;
    margin: auto;
    display: block;
    margin-top: 1px;
}

#box{
    border-radius: 100%;
    border: 1px solid rgba(0,0,0,0);
    height: 72px;
    width: 72px;
}

.darker{
    background-color: rgb(110, 110, 110);
}