@import '../../../styles/colors';
#wrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    text-align: center;

    border-top: 1px solid $table;

    background-color: $background;
    z-index: 8;
    // padding: 10px;
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 100px;

    #footer{
        width: 70%;
    }
    
    #me{
        border: 1px solid black;
        border-radius: 12px;
        cursor: pointer;
        padding: 5px 10px;
    }
}