/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

@import './app/styles/colors';

.p-ripple .p-ink {
    background: $breaker ;
}

html{
    height: 100%; 
}

body {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    min-height: 100%;
    margin: 0;
    margin-bottom: 100px;

    color: $font;

    font-family: 'Roboto', sans-serif !important;
}