<div id="wrapper">
    <h2>{{region}}</h2>

    <div id="table">
        <p-table [value]="(countries$ | async) || []" [scrollable]="true" scrollHeight="400px">
           
            <ng-template pTemplate="body" let-country>
                <tr class="row" [routerLink]="'/country/'+region+ '/' + country.cca3">
                    <td><img [src]="getImageLink(country)" style="display:inline-block;margin:2px 0 2px 2px" width="48"></td>
                    <td style="min-width:200px">{{country.name}}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>