@import '../../styles/colors';

#table{
    width: 75%;
    border: 1px solid $table;
    border-radius: 20px;
    margin: 100px auto;
    padding: 20px;
}

h2{
    margin: 20px 0 20px 30px;
    text-transform: capitalize;
}

.row{
    cursor: pointer;
}

.row:hover{
    box-shadow: inset 0 0 1em $breaker;
    transition: all 0.5s ease;
}