@import '../../../styles/colors';


$width: 100%;
$height: 80px;

#wrapper{
    position: fixed;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;

    background-color: $background;
    border-bottom: 1px solid $table;

    top: 0px;
    left: 0px;
    width: $width;
    height: $height;

    z-index: 10;

    *{
        margin: 0 8% ;
    }
}
#space {
    width: $width;
    height: $height;
}

#back{
    padding: 10px;
    margin: 10px;
    border: 1px solid $table;
    border-radius: 15px;
    cursor: pointer;
}